*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    padding: 0px 25px 0px 25px;
    color: #fff;
    background-color: #00c8ffbd;
    background-image:
        radial-gradient(at 9% 89%, rgb(25, 25, 112) 0px, transparent 50%),
        radial-gradient(at 72% 6%, rgb(135, 206, 235) 0px, transparent 50%),
        radial-gradient(at 24% 19%, rgb(43, 189, 226) 0px, transparent 50%),
        radial-gradient(at 65% 6%, rgb(230,  230, 250) 0px, transparent 50%),
        radial-gradient(at 20% 98%, rgb(1, 200, 255) 0px, transparent 50%),
        radial-gradient(at 44% 9%, rgb(70, 117, 187) 0px, transparent 50%),
        radial-gradient(at 10% 9%, rgb(111, 147, 255) 0px, transparent 50%);
    /* min-height: 150vh; */
    /* margin: 50px; */
}

.glass {
    padding: 20px;
    padding-top: 5px;
    border-radius: 14px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.maintitle {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.titles {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.title {
    font-size: 35px;
    padding-left: 20px;
}

.logo-title {
    width: 50px;
    height: 50px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav {
    padding: 5px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:x-large;
    font-weight:500;
}

.nav:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    color: black;
    font-weight: 600;
}

.main {
    display: flex;
    align-items: center;
}

.mainpict {
    width: 400px;
    border-radius: 50%;
}

.left {
    margin: auto;
    
}

button {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    height: 40px;
}

button:hover {
    cursor: pointer;
    border-color: #2668db;
    background-color: #69d62e;
    color: white;
}

.right {
    margin: auto;
}

.glass-warning {
    padding: 1px;
    /* padding-top: 5px; */
    border-radius: 14px;
    /* display: blphofnnock; */
    background: rgba(255, 255, 255, 0.637);
    width: 100%;
    text-align: center;
    color: rgb(139, 0, 0);
}

.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


.kiri {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.gmail-logo {
    width: 50px;
    margin-left: 40px;
}

.wa-logo {
    width:52px;
    /* border-radius: 50%; */
}

footer {
    margin-top: 15px;
}

@media only screen and (max-width: 767px) {
    body {
        margin: 4%;
        padding: 10px;
    }

    .nav-items {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .maintitle {
        text-align: center;
    }

    .mainpict {
        width: 100%;
    }
    .titles {
        margin: auto;
    }

    .left {
        margin-top: 10%;
    }

}
